---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import About from '../components/About.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		
		<nav class="topnav">
			<div class="topnav-logo">
				<img src="src/images/logo.png" alt="Logo">
			</div>
			<div class="topnav-links">
				<a href="#">Home</a>
				<a href="#">About</a>
				<a href="#">Contact</a>
			</div>
		</nav>


		<!--See why flex is not working, reference inspect tool -->
		<div class="hero-section">
			<h1 class="hero-h1">Welcome to a new Framework</h1>
		</div>
		<div class="about-section">
			<About
				image="src/images/about_image.png";
				alternate="Japanese Image";
				title="About";
				para_one="Etiam ultricies pulvinar vulputate. Curabitur id pulvinar tellus, et posuere nibh. Donec volutpat dictum ex. Ut iaculis mollis dui, a scelerisque risus fermentum id. Nam a nunc at turpis imperdiet accumsan. Proin efficitur odio in dui bibendum sodales. Sed vel augue ac nibh vehicula blandit in ac sapien. Nam at semper lorem. ";
				para_two="Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sem tellus, commodo sit amet urna id, dictum dictum magna. Morbi sapien tortor, finibus quis ligula eget, pretium blandit erat. Nam vitae accumsan risus. Vestibulum augue quam, rutrum sollicitudin dolor vel, pharetra ultrices odio. Nulla fermentum lacus nec neque finibus, eget aliquam purus pulvinar. Aliquam ante ligula, consequat sit amet neque sed, luctus vulputate massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. ";
			/>
		</div>

		<div class="product-section">
			<h1>Take a look at our new<span class="text-gradient"> Products</span></h1>
			<ul role="list" class="link-card-grid">
				<Card
					href="#"
					title="Product 1"
					body=" Curabitur id pulvinar tellus, et posuere nibh. Donec volutpat dictum ex."
				/>
				<Card
					href="#"
					title="Product 2"
					body="Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae."
				/>
				<Card
					href="#"
					title="Themes"
					body="Aliquam ante ligula, consequat sit amet neque sed, luctus vulputate massa."
				/>
			</ul>
		</div>
	</main>
</Layout>


<style>
	main {
		width: 100%;
		color: var(--typography);
		font-size: 20px;
		line-height: 1.6;
	}

			/* Add a black background color to the top navigation */
	.topnav {
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(82, 117, 133, 0.5); /* Set background color with transparency */
		backdrop-filter: blur(10px); /* Apply a blur effect */
		position: fixed;
		width: 100%;
		z-index: 2;
	}

	.topnav-logo{
		display: flex;
		justify-content: center;
		padding: 10px;
		margin-top: .3rem;
	}

	.topnav-logo img{
		height: 45px;
		width: 45px;
	}

	/* Style the links inside the navigation bar */
	.topnav a {
		color: var(--primary);
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	/* Change the color of links on hover */
	.topnav a:hover {
		background-color: var(--primary);
		color: var(--typography);
	}

	/* Add a color to the active/current link */
	.topnav a.active {
		background-color: #04AA6D;
		color: white;
	}

	/* First section */
	.hero-section{
		display: flex;
		height: 85vh;
		background-image: url("src/images/hero_background.png");
		background-size: cover;
		background-position: center;
		z-index: 1;
		justify-content: center;
		align-items: center;
	}

	/* Title inside of hero section */
	.hero-h1{
		margin-top: -10%;
	}

	.about-section{
		display: flex;
		height: 90vh;
		
	}

	.product-section{
		padding: 14px;
	}

	--- 
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		position: relative;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background: rgb(222,0,0);
		background: var(--gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

</style>
